.listItemWrapper{
  background-color: white;
  margin-bottom: 10px;
  border-bottom: blue solid 2px;
  width: 400px;
}

.listItemWrapper span {
  padding: 5px;
}

.checked {
  text-decoration: line-through;
}
